# Flutter
frontend/**/build/
frontend/**/.dart_tool/
frontend/**/.flutter-plugins
frontend/**/.flutter-plugins-dependencies

# .NET
backend/**/bin/
backend/**/obj/
*.user
*.suo

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/